/* Colors */
$color-primary: #ec421f;
$color-black: #020200;
$color-gray-light: #f5f5f5;
$color-gray: #a7a7a7;

/* Fonts */
$font-family: 'Open Sans';
$font-family-fallback: -apple-system, BlinkMacSystemFont, Ubuntu, Helvetica,
  Arial, sans-serif;
$font-size-base: 16px;
