#table-container {
    overflow-x: scroll;
}

.myTable {
    padding: 0;
    color: $color-gray-light;
    white-space: nowrap;
    
    &__row {
        list-style: none;
    }
}

.column {
    background-color: $color-black-light;
    display: inline-block;
    min-width: 100px;
    padding: 5px 15px;
    border: 1px solid  $color-black-dark;

    &__name {
        font-weight: 600;
    }

    &__main {
        width: 200px;
    }

    &__secondary {
        width: 200px;
    }
}